<h2>This link will take you to <%= @url.link %></h2>
<!-- <p>To visit your URL, go to: localhost:3000/go/<%= @url.random_string %></p> -->


<!-- Not sure why this would increment go_to_link by 2 ??? -->
<p>Click <a href="/go/<%= @url.random_string %>">here</a> to follow it</p>
